<h1><%= @recipe.name %></h1>
<%= @recipe.kitchen %>
<%= @recipe.kind %>
<%= @recipe.proferably %>
<%= @recipe.serves %>
<%= @recipe.preparation_time %>
<%= @recipe.level %>
<%= @recipe.ingredients %>
<%= @recipe.step_by_step %>
